apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook
  labels:
    app: guestbook
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook
  template:
    metadata:
      labels:
        app: guestbook
    spec:
      containers:
        - name: guestbook
          image: hashicorp/http-echo:0.2.3
          args:
            - "-text=Hello from ArgoCD Ubuntu!"
          ports:
            - containerPort: 5678
